doctype 5
html(lang='en')
  head
    include head
    mixin setTitle('Chirped.it on Nodester')
    mixin description('A fresh write of Chirped.it using NowJS on Nodester (with express, jade, and stylus)')
    //-You know the answer is out there, and you'll Google till no end to find it. You'd feel bad asking someone if you didn't try Google first. You have a problem, and you know something.  At Scout, we believe Google is your friend, and that the most advanced technology is also very easy to use.

    link(rel='stylesheet', href='stylesheets/main.css')

    script(src="//ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.min.js")
    script(src="/nowjs/now.js")
  body
    div
      a.change.selected(href="#") room 1 
      span - 
      a.change(href="#") room 2 
      span - 
      a.change(href="#") room 3 

    div#messages
    input#text-input(type="text")
    input#send-button(type="button", value="Send")
    
    script
      //would like to convert to :coffee, but docs for exactly how the arrow syntax works suck, better ones would be appreciated, would even consider a totally javascripty syntactic sugar compilation
      $(document).ready(funciton(){
        now.receiveMessage = function(name, message){
          $("#messages").append("<br>" + name + ": " + message);
        };
      
        $("#send-button").click(function(){
          now.distributeMessage($("#text-input").val());
          $("#text-input").val("");
        });
        
        $(".change").click(function(){
          now.changeRoom($(this).text());
        });
      
        now.name = prompt("What's your name?", "");
      });


  //-
    script
      var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
      (function(d,t){
        var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
        g.async = true;
        g.src='//www.google-analytics.com/ga.js';
        s.parentNode.insertBefore(g,s)
      }(document,'script'))


